### Fetching raw data

In [1]:
from dotenv import load_dotenv
import os

In [2]:
load_dotenv()

True

In [3]:
os.getenv('RAW_DATA_STORAGE_FILE')

'./data'

In [4]:
# Change the working directory
os.chdir('C:\\Users\\haydn\\PycharmProjects\\bank-marketing-e2e-model\\bank-marketing-e2e-model\\src\\data')

In [5]:
os.getcwd()

'C:\\Users\\haydn\\PycharmProjects\\bank-marketing-e2e-model\\bank-marketing-e2e-model\\src\\data'

In [6]:
from raw_data_gen import FetchUCIData

In [7]:
test_fetch = FetchUCIData(222)

In [8]:
test_fetch.fetch_raw_data()

{'data': {'ids': None,
  'features':        age           job   marital  education default  balance housing loan  \
  0       58    management   married   tertiary      no     2143     yes   no
  1       44    technician    single  secondary      no       29     yes   no
  2       33  entrepreneur   married  secondary      no        2     yes  yes
  3       47   blue-collar   married        NaN      no     1506     yes   no
  4       33           NaN    single        NaN      no        1      no   no
  ...    ...           ...       ...        ...     ...      ...     ...  ...
  45206   51    technician   married   tertiary      no      825      no   no
  45207   71       retired  divorced    primary      no     1729      no   no
  45208   72       retired   married  secondary      no     5715      no   no
  45209   57   blue-collar   married  secondary      no      668      no   no
  45210   37  entrepreneur   married  secondary      no     2971      no   no

           contact  day_of_week month  duration  campaign  pdays  previous  \
  0            NaN            5   may       261         1     -1         0
  1            NaN            5   may       151         1     -1         0
  2            NaN            5   may        76         1     -1         0
  3            NaN            5   may        92         1     -1         0
  4            NaN            5   may       198         1     -1         0
  ...          ...          ...   ...       ...       ...    ...       ...
  45206   cellular           17   nov       977         3     -1         0
  45207   cellular           17   nov       456         2     -1         0
  45208   cellular           17   nov      1127         5    184         3
  45209  telephone           17   nov       508         4     -1         0
  45210   cellular           17   nov       361         2    188        11

        poutcome
  0          NaN
  1          NaN
  2          NaN
  3          NaN
  4          NaN
  ...        ...
  45206      NaN
  45207      NaN
  45208  success
  45209      NaN
  45210    other

  [45211 rows x 16 columns],
  'targets':          y
  0       no
  1       no
  2       no
  3       no
  4       no
  ...    ...
  45206  yes
  45207  yes
  45208  yes
  45209   no
  45210   no

  [45211 rows x 1 columns],
  'original':        age           job   marital  education default  balance housing loan  \
  0       58    management   married   tertiary      no     2143     yes   no
  1       44    technician    single  secondary      no       29     yes   no
  2       33  entrepreneur   married  secondary      no        2     yes  yes
  3       47   blue-collar   married        NaN      no     1506     yes   no
  4       33           NaN    single        NaN      no        1      no   no
  ...    ...           ...       ...        ...     ...      ...     ...  ...
  45206   51    technician   married   tertiary      no      825      no   no
  45207   71       retired  divorced    primary      no     1729      no   no
  45208   72       retired   married  secondary      no     5715      no   no
  45209   57   blue-collar   married  secondary      no      668      no   no
  45210   37  entrepreneur   married  secondary      no     2971      no   no

           contact  day_of_week month  duration  campaign  pdays  previous  \
  0            NaN            5   may       261         1     -1         0
  1            NaN            5   may       151         1     -1         0
  2            NaN            5   may        76         1     -1         0
  3            NaN            5   may        92         1     -1         0
  4            NaN            5   may       198         1     -1         0
  ...          ...          ...   ...       ...       ...    ...       ...
  45206   cellular           17   nov       977         3     -1         0
  45207   cellular           17   nov       456         2     -1         0
  45208   cellular           17   nov      1127         5    184         3
  45209  telephone           17   nov       508         4     -1         0
  45210   cellular           17   nov       361         2    188        11

        poutcome    y
  0          NaN   no
  1          NaN   no
  2          NaN   no
  3          NaN   no
  4          NaN   no
  ...        ...  ...
  45206      NaN  yes
  45207      NaN  yes
  45208  success  yes
  45209      NaN   no
  45210    other   no

  [45211 rows x 17 columns],
  'headers': Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
         'loan', 'contact', 'day_of_week', 'month', 'duration', 'campaign',
         'pdays', 'previous', 'poutcome', 'y'],
        dtype='object')},
 'metadata': {'uci_id': 222,
  'name': 'Bank Marketing',
  'repository_url': 'https://archive.ics.uci.edu/dataset/222/bank+marketing',
  'data_url': 'https://archive.ics.uci.edu/static/public/222/data.csv',
  'abstract': 'The data is related with direct marketing campaigns (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe a term deposit (variable y).',
  'area': 'Business',
  'tasks': ['Classification'],
  'characteristics': ['Multivariate'],
  'num_instances': 45211,
  'num_features': 16,
  'feature_types': ['Categorical', 'Integer'],
  'demographics': ['Age', 'Occupation', 'Marital Status', 'Education Level'],
  'target_col': ['y'],
  'index_col': None,
  'has_missing_values': 'yes',
  'missing_values_symbol': 'NaN',
  'year_of_dataset_creation': 2014,
  'last_updated': 'Fri Aug 18 2023',
  'dataset_doi': '10.24432/C5K306',
  'creators': ['S. Moro', 'P. Rita', 'P. Cortez'],
  'intro_paper': {'title': 'A data-driven approach to predict the success of bank telemarketing',
   'authors': 'Sérgio Moro, P. Cortez, P. Rita',
   'published_in': 'Decision Support Systems',
   'year': 2014,
   'url': 'https://www.semanticscholar.org/paper/cab86052882d126d43f72108c6cb41b295cc8a9e',
   'doi': '10.1016/j.dss.2014.03.001'},
  'additional_info': {'summary': "The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed. \n\nThere are four datasets: \n1) bank-additional-full.csv with all examples (41188) and 20 inputs, ordered by date (from May 2008 to November 2010), very close to the data analyzed in [Moro et al., 2014]\n2) bank-additional.csv with 10% of the examples (4119), randomly selected from 1), and 20 inputs.\n3) bank-full.csv with all examples and 17 inputs, ordered by date (older version of this dataset with less inputs). \n4) bank.csv with 10% of the examples and 17 inputs, randomly selected from 3 (older version of this dataset with less inputs). \nThe smallest datasets are provided to test more computationally demanding machine learning algorithms (e.g., SVM). \n\nThe classification goal is to predict if the client will subscribe (yes/no) a term deposit (variable y).",
   'purpose': None,
   'funded_by': None,
   'instances_represent': None,
   'recommended_data_splits': None,
   'sensitive_data': None,
   'preprocessing_description': None,
   'variable_info': 'Input variables:\n   # bank client data:\n   1 - age (numeric)\n   2 - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",\n                                       "blue-collar","self-employed","retired","technician","services") \n   3 - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)\n   4 - education (categorical: "unknown","secondary","primary","tertiary")\n   5 - default: has credit in default? (binary: "yes","no")\n   6 - balance: average yearly balance, in euros (numeric) \n   7 - housing: has housing loan? (binary: "yes","no")\n   8 - loan: has personal loan? (binary: "yes","no")\n   # related with the last contact of the current campaign:\n   9 - contact: contact communication type (categorical: "unknown","telephone","cellular") \n  10 - day: last contact day of the month (numeric)\n  11 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")\n  12 - duration: last contact duration, in seconds (numeric)\n   # other attributes:\n  13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)\n  14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)\n  15 - previous: number of contacts performed before this campaign and for this client (numeric)\n  16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")\n\n  Output variable (desired target):\n  17 - y - has the client subscribed a term deposit? (binary: "yes","no")\n',
   'citation': None}},
 'variables':            name     role         type      demographic  \
 0           age  Feature      Integer              Age
 1           job  Feature  Categorical       Occupation
 2       marital  Feature  Categorical   Marital Status
 3     education  Feature  Categorical  Education Level
 4       default  Feature       Binary             None
 5       balance  Feature      Integer             None
 6       housing  Feature       Binary             None
 7          loan  Feature       Binary             None
 8       contact  Feature  Categorical             None
 9   day_of_week  Feature         Date             None
 10        month  Feature         Date             None
 11     duration  Feature      Integer             None
 12     campaign  Feature      Integer             None
 13        pdays  Feature      Integer             None
 14     previous  Feature      Integer             None
 15     poutcome  Feature  Categorical             None
 16            y   Target       Binary             None

                                           description  units missing_values
 0                                                None   None             no
 1   type of job (categorical: 'admin.','blue-colla...   None             no
 2   marital status (categorical: 'divorced','marri...   None             no
 3   (categorical: 'basic.4y','basic.6y','basic.9y'...   None             no
 4                              has credit in default?   None             no
 5                              average yearly balance  euros             no
 6                                   has housing loan?   None             no
 7                                  has personal loan?   None             no
 8   contact communication type (categorical: 'cell...   None            yes
 9                        last contact day of the week   None             no
 10  last contact month of year (categorical: 'jan'...   None             no
 11   last contact duration, in seconds (numeric). ...   None             no
 12  number of contacts performed during this campa...   None             no
 13  number of days that passed by after the client...   None            yes
 14  number of contacts performed before this campa...   None             no
 15  outcome of the previous marketing campaign (ca...   None            yes
 16          has the client subscribed a term deposit?   None             no  }

In [9]:
test_fetch.format_data()

,age,job,marital,education,default,balance,housing,loan,contact,day_of_week,month,duration,campaign,pdays,previous,poutcome,target
0,58,management,married,tertiary,no,2143,yes,no,NaN,5,may,261,1,-1,0,NaN,no
1,44,technician,single,secondary,no,29,yes,no,NaN,5,may,151,1,-1,0,NaN,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,NaN,5,may,76,1,-1,0,NaN,no
3,47,blue-collar,married,NaN,no,1506,yes,no,NaN,5,may,92,1,-1,0,NaN,no
4,33,NaN,single,NaN,no,1,no,no,NaN,5,may,198,1,-1,0,NaN,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,NaN,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,NaN,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,NaN,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [10]:
test_fetch = FetchUCIData('sgfdg')
test_fetch.format_data()

Error fetching raw data: ID must be an integer

AttributeError: 'NoneType' object has no attribute 'data'

In [11]:
# Change the working directory
os.chdir('C:\\Users\\haydn\\PycharmProjects\\bank-marketing-e2e-model\\bank-marketing-e2e-model')

In [14]:
from src.data.raw_data_gen import SaveRawTrainingData

In [15]:
save_test = SaveRawTrainingData(FetchUCIData(222).format_data(),
                                os.getenv('RAW_DATA_STORAGE_FILE'))

In [16]:
save_test.save_raw_training_data()

### Model training